body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d1bd93; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-bottom: 20px;
}

#typingHeader {
    font-size: 2em; 
    color: rgb(42, 20, 9);
}

#searchBox {
    margin-bottom: 20px;
}

#searchBar {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    width: 100%;
}

.grid-item {
    background-color: #e2dac4;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 1s ease;
}

.grid-item:hover {
    /* This will be overridden by the JavaScript if a sentiment color is set */
    background-color: #f0f0f0; /* Default hover color */
}
