body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #d1bd93; /* Cream */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#poemContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Create a grid layout */
    grid-gap: 20px; /* Space between grid items */
    width: 100%;
}

.grid-item {
    background-color: #e2dac4; /* Light Yellow */
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    color: rgb(42, 20, 9);
    font-size: 2em; 
}

h2 {
    color: rgb(42, 20, 9); /* Dark Brown */
    margin: 0;
}

.poem {
    color: rgb(42, 20, 9); /* Dark Brown */
    margin: 0;
    white-space: pre-line;
}
